@charset "UTF-8";
/**/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-color: black;
    overflow: hidden; /*Serve parar tirar a rolagem da tela, evita 'transbordar' os elementos*/
}

main::after{/*Usa pra fazer o degrade, depois do main, pesquisar sobre isso dps*/
    content: "";
    position: fixed; /*Serve pra fixar o elemento na tela*/
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw; /*Nao usa 100 pq iria tapar o menu por isso só 80*/
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0)65%) no-repeat;/*Degrade feito no site degrade.io algo assim, pesquisar dps*/
    /*La na classe conteudo usar o elemento z-index com valor 1 para colocar o gradient atras do conteudo e nao na frente, parecido com order do flexbox*/
}

main .personagem{
    display: none;  /*Para não mostrar a apresentação ou display*/
    height: 100vh;
}
main .personagem.selecionado {
    display: block; /* Display em forma de bloco vai mostrar na tela*/
}
main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Para a imagem cobrir o espaço exato*/
}
div.conteudo{
    position: absolute; /* Para ficar na frente de tudo por isso absoluto*/
    top: 0; /*Propriedade de posicionamento para subir nesse caso top 0 vai bem pra cima*/
    left: 120px; /*Para alinhar mais contra o left ou esquerda*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*Flexbox ja estudei tem no caderno, lembrar de olhar o espaço e fazer oq foi feito aqui embaixo*/
    min-height: 100vh;
    max-width: 350px;
    z-index: 1; /*Explicacao la no main::after*/
}
div.conteudo .nome-personagem{
    color: white;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif; /*Talvez trocar de fonte pra ficar mais bonita*/
    font-weight: 400;
    margin-bottom: 20px;
}

div.conteudo .descricao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;/* Trocar de fonte tbm*/
    font-weight: 600;
    line-height: 24px; /*Altura entre as linhas*/
}

div.conteudo .logo{
    background-image: url(../imagens/one-piece-logo.png);/*Só com isso nao funcionou tem que dar a altura e largura igual o flexbox e tbm usar background size junto*/
    height: 100px;
    width: 220px;
    background-size: cover;
    margin-bottom: 40px;
}

ul.botoes{
    position: fixed; /*fixar ja expliquei mais em cima*/
    top: 0; /*posicionar*/
    right: 0; /*posicionar*/
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*sempre lembrar de dar altura para os elementos*/
    width: 150px;
    justify-content: center;
    align-items: center; /*alinhar dentro da width desse item*/
    gap: 10px; /*espaçamento*/
    background-color: rgba(0, 0, 0, 0.3); /*dar o efeito de sombra*/
}

ul.botoes .botao{
    border: none; /*tirar a borda*/
    background: none; /*tirar o fundo q todos botoes tem*/
    cursor: pointer; /*pra mudar o cursor do mouse*/
    border-radius: 50%;
}

ul.botoes .botao > img{
    border-radius: 50%; /*Deixar arredondados*/
}
ul.botoes .botao.selecionado{
    transform: scale(1.2);  /*deixar um pouco maior pra ter um efeito, talvez olhar no projeto social pra fazer o mesmo efeito de la*/
    box-shadow: 0 0 10px gray; /*cria tipo uma bordinha na volta dos botoes*/
   
}

